div {
    width: 300px;
    height: 300px;
    margin: 2em;
    padding: 2em;
}

.box1 {
    border: 2px solid red;
    background-color: black;
    color: yellow;
}

.box2 {
    border: 2px solid black;
}

.box3 {
    border: 2px dotted mediumaquamarine;
    color: white;
    background-color: brown;
}