.external-styling {
    width: 300px;
    height: 300px;
    background-color: pink;
    border: 2px solid black;
}

div {
    padding: 1.5em;
    border-radius: 10px;
}

.coloring {
    width: 20%;
    height: 20%;
    background-color: black;
    color: white;
}

.coloring div {
    width: 200px;
    height: 200px;
    border: 2px solid white;
}

.color-name {
    background-color: yellow;
}

.color-hex {
    background-color: #36BA98;
    color: #000000;
}

.color-rgb {
    background-color: rgb(233, 196, 106);
}