.text-alignment-container {
    width: 200px;
    height: 200px;
    padding: 0 1.5em 2em 1.5em;
    margin: 2em;
}

.text-alignment {
    text-align: right;
}

.font-weight {
    font-weight: 700;
}

.text-decoration {
    text-decoration: underline red wavy;
}

.text-height {
    line-height: 1.5;
}

.letter-spacing {
    letter-spacing: 2px;
}