body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-item {
    list-style: none;
    margin: 1.5em;
}

.nav-item a {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    color: #071952;
    font-size: 4rem;
}

@media (max-width: 767px) {
    .content {
        color: #FF7F3E;
        font-size: 2rem;
    }

    .nav {
        width: 75%;
        margin: 1em auto;
    }

    .nav-item {
        margin: 1em;
    }
}

@media (max-width: 575px) {

    .nav {
        flex-direction: column;
        align-items: center;
        width: 75%;
        margin: 0;
        border: none;
    }

    .nav-item {
        margin: 0.5em;
    }

    .content {
        color: #088395;
        font-size: 1.5rem;
        text-decoration: underline red 1.5px;
    }
}