* {
    background-color: white;
}

/* id selectors */
#list7 {
    color: black;
    font-weight: 700;
}

/* class selectors */
.mark {
    font-weight: 700;
    font-style: italic;
    background-color: aquamarine;
}

/* descendant selectors */
li a {
    text-decoration: underline red wavy;
}

/* Direct descendant */
li>span {
    background-color: aqua;
}

/* attribute selectors */
input[type="text"] {
    border: 1px solid blue;
    color: blue;
}

label[for="name"] {
    color: red;
    text-decoration: underline black;
}

/* pseudo classes */
.mark:hover {
    background-color: red;
    color: white;
}

li:nth-of-type(2n) {
    color: coral;
}

/* pseudo elements */
main p::first-letter {
    color: red;
}

main p::before {
    content: "====>";
}

main p::after {
    content: "<====";
}